@import url(/style/style.css);  /*To get fonts*/

/* Contact Form */
.contact-form {
    margin: 35%;
    margin-top: 50px;
    margin-bottom: 10%;
    min-width: 300px;
}

.contact-form h2 {
    justify-self: center;
    font-family: Breamcatcher;
    font-size:xx-large;
}


.contact-form input[type=text], textarea {
    font-family: LinearGrotesk;
    width: 100%;    
    padding: 12px;
    border: 1px solid #ccc;         
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;       /*Allows user to resize veritcally*/
}

.contact-form input[type=text]:hover, textarea:hover {        /*Hover over text boxes and it will change color*/
    background-color: #f1f1f1;
}

.contact-form button {
    background-color: #8a2f28;
    color: white;
    padding: 12px 20px;    border: none;
    border-radius: 4px;
}

.contact-form button:hover {      /*Hover over submit button and it will change color*/
    background-color: #511411;
}



/* Contact Form Success Page */
.thank-you {
    height: 200px;
    width: 300px;
    margin-top: 100px;
    justify-self: center;
    overflow: hidden;
    justify-items: center;
    border: 5px solid #ed7777;
    border-radius: 10px;
    background-color:#f9d5d5;
    color: #532e2e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.thank-you h1 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.thank-you h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.thank-you small {
    margin-bottom: 50px;
}