@font-face {
    font-family: LinearGrotesk;
    src: url(/fonts/LinearGrotesk-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: LinearGrotesk;
    src: url(/fonts/LinearGrotesk-Light.woff);
    font-weight: light;
}

@font-face {
    font-family: LinearGrotesk;
    src: url(/fonts/LinearGrotesk-Regular.woff);
}

html {
    scroll-margin-top: 7rem;
    /*Keeps content from hiding behind navbar*/
}

body {
    font-family: LinearGrotesk;
    font-weight: light;
    margin: 0;          /*Menu bar reaches edge*/
    padding: 0; 
}

footer {
    background: #f4e5e5;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.about img {
    max-width: 160px;
    float: left;
    margin: 10px;
    border-radius: 2px;
}

.about h2 {
    margin-bottom: 0px;
    margin-left: 10px;
}


/* Nav Bar */
header {
    font-family: LinearGrotesk;
    background: #fc8686;
    color: #511411;
    padding-top: 10px;
    min-height: 100px;
}

.navbar {
    font-family: LinearGrotesk;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fc8686;
}

.navbar h1 {
    margin-left: 40px;
    font-size: xx-large;
}

.menu a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: light;
    font-size: larger;
    color: #511411;
}

.menu a:hover {
    color: #8a2f28;
}



/* Gallery Style */
.grid {
    width: 95%;
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    gap: 60px;
}

.grid img {
    max-height: 170px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
}

.grid img:hover {
    box-shadow: 0 0 20px #333;
}