@font-face {
    font-family: LinearGrotesk;
    src: url(/fonts/LinearGrotesk-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: LinearGrotesk;
    src: url(/fonts/LinearGrotesk-Light.woff);
    font-weight: light;
}

@font-face {
    font-family: LinearGrotesk;
    src: url(/fonts/LinearGrotesk-Regular.woff);
}

@font-face {
    font-family: Breamcatcher;
    src: url(/fonts/breamcatcher.regular.otf);
}

html {
    scroll-margin-top: 7rem;
    /*Keeps content from hiding behind navbar*/
}

body {
    font-family: LinearGrotesk;
    font-weight: light;
    margin: 0;          /*Menu bar reaches edge*/
    padding: 0; 
    height: 100%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.about img {
    max-width: 160px;
    float: left;
    margin: 10px;
    border-radius: 2px;
}

.about h2 {
    margin-bottom: 0px;
    margin-left: 10px;
}

.centerImage {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    height: auto;
}

.shows h3 {
    justify-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

/* Nav Bar */
header {
    color: #511411;
    min-height: 80px;
}

.navbar {
    font-family: Breamcatcher;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    max-height: 80px;
}

.navbar h1 {
    margin-left: 40px;
    font-size: xxx-large;
}

.menu a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: light;
    font-size: x-large;
    color: #511411;
}

.menu a:hover {
    color: #8a2f28;
}



/* Gallery Style */
.grid {
    width: 95%;
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    gap: 60px;
}

.grid img {
    max-height: 170px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
}

.grid img:hover {
    box-shadow: 0 0 20px #333;
}

body > footer {
    display: table-row;
 }